body {
  background-color: #e5e5e5;
}

.home-bg {
  background: url(imgs/Header-bg.svg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 521px;
  width: 100%;
}

.icon-color {
  color: rgba(80, 95, 121, 1);
}

.footer {
  background: url(imgs/Headerbg@2x.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 712px;
  width: 100%;
  border-top-left-radius: 250px 100px;
}

.forms {
  text-align: center;
  font-weight: 300;
}
